/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/banner1.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo {
    width: 180px;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    ;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /* flex: 1; */
}

/* ========= dark & light mode section =========== */
.mydark {
    background-color: black;
    color: white;
}

#IconTheme {
    border-radius: 50%;
    float: right;
    padding-top: 5px;
    margin-right: 15px;
    cursor: pointer;
}


.register-btn {
    background-color: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
}

.container {
    padding: 0 12%;
}

.header h1 {
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}

.search-bar {
    background-color: #fff;
    width: 80%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form {
    display: flex;
    padding: 6px 10px 6px 30px;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input {
    display: block;
    margin-top: 12px;
    border: 0;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: #000;
}

.search-bar form button {
    background: #5a287d;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img {
    width: 15px;
    margin-top: 7px;
}

.location-input {
    flex: 1;
    color: #000;
}

.search-bar form label {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

/* ========= Coupons =========== */
#coupon {
    z-index: 100;
    margin-left: 35%;
    position: fixed;
    visibility: collapse;
    opacity: 1;
    box-shadow: 10px 10px 20px gray;
    margin-top: 5%;
    background-color: gray;
    font-size: 22px;
}

/* ========= weather section =========== */
#out {
    color: blue;
    font-size: 10px;
}

#weatherOut {
    color: blue;
    background-color: #fff;
    font-size: 20px;
    /* padding: 8px 20px; */
    /* border-radius: 35px; */
}

/* ========= exclusives section =========== */
.sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* repeat(auto-fit, minmax(200px, 1fr)); */
    grid-gap: 50px;
    margin-bottom: 30px;
}

.exclusives div img {
    width: 95%;
    border-radius: 10px;
    height: 150px;
}

.exclusives div {
    position: relative;
}

.exclusives div span {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* ========== Trending Places ============ */
.trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-bottom: 30px;
}

.trending div img {
    width: 100%;
    border-radius: 10px;
    height: 450px;
}

.trending h3 {
    font-weight: 600;
    margin-top: 10px;
}

/* ========== call to action ============ */
.cta {
    margin: 80px auto;
    background-image: linear-gradient(to right, #3f2321, transparent), url(images/bnr.jpg);
    background-size: cover;
    background-position: 30% 70%;
    border-radius: 10px;
    padding: 7%;
    color: #fff;
}

.cta h3 {
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.cta p {
    font-size: 18px;
    margin: 10px 0;
}

.cta-btn {
    background-color: #5a287d;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}

/* ========== Travellers Stories ============ */
.stories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.stories div img {
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    height: 580px;
    background-size: cover;
}

.stories div {
    position: relative;
    text-align: center;
}

.stories p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px;
}

.start-btn {
    text-decoration: none;
    background: #5a287d;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

/* ========== About us ============ */
.about-us {
    text-align: center;
    margin: 80px 0;
    /* color: #000; */
    font-size: 19px;
}

.about-us h2 {
    font-size: 38px;
    margin-bottom: 30px;
    font-weight: 550;
    /* color: #000; */
}

/* ========== Footer ============ */
.footer-nav {
    margin: 80px 0 10px;
    text-align: center;
}

.footer-nav a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

.footer-nav hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer-nav p {
    padding-bottom: 15px;
}

.active {
    position: relative;
}

.active::after {
    content: '';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}

nav .fa-bars{
    display: none;
}

/* ========== for small screen devices ============ */

@media only screen and (max-width: 700px){
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav-links li{
        margin: 10px;
        display: block;
    }
    .register-btn{
        margin: 20px 0 30px;
        display: inline-block;
    }
    nav .btn-light{
        margin-top: 45px;
        /* display: flex; */
        float: left;
    }
    nav #IconTheme{
        float: left;
        margin-top: 35px;
    }
    #weatherOut {
        font-size: 16px;
        float: left;
        align-items: center;
        /* border-radius: 35px; */
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 5%;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }
    .active::after {
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;
    }
    .hidemenu{
        max-height: 300px;
    }
    .header h1{
        padding-top: 200px;
        font-size: 7vw;
    }
    .search-bar{
        width: 90%;
        margin: 20px auto;
        padding: 10px 5px 20px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: block;
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 8px;
        padding-bottom: 5px;
    }
    .search-bar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .sub-title{
        font-size: 6vw;
    }
    .cta{
        padding: 15% 5%;
    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }
    .cta p{
        font-size: 14px;
    }
    .cta-btn{
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }
    .stories p{
        font-size: 22px;
    }
    .about-us{
        font-size: 15px;
    }
    #coupon{
        display: none;
    }

}
